# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

target/
lib_managed/
src_managed/
project/boot/
.history
.cache
src/main/resources/node_modules/
src/main/resources/app/*.js
src/main/resources/app/*.js.map
*.log
nohup.out

